<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-lightfixed-top" style="background-color: #6bc5d2 ">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <a class="navbar-brand" href="/"> Home </a>
            </div>
            
    
                <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="{{ url_for('auth.register') }}">Sign in</a></li>
                  
                </ul>
                 
    
        </div>
    </div>
    
    <h1>Pomodoro</h1>
</body>
</html>