{% extends 'base.html' %}

{% block content%}
   <div class="video-bg">
    <video muted autoplay loop>
      <source src="../static/assets/Hourglass .mp4" type="video/mp4">
    </video>
   </div>
    <div class="container banner">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="div">
            <h1 style="text-align: center;">What is Pomodoro?</h1><hr>
            <p style="line-height: 5vh; text-align: center;">
              The pomodoro technique is a time management framework that will improve your focus and productivity. It encourages you to work within the time you have, rather than struggle against it.
            </p>
            <p style="text-align: center;">
              <i class="far fa-star" style="padding: 2%; color: #45D2A6"></i>
              <i class="far fa-star" style="padding: 2%; color: #45D2A6"></i>
              <i class="far fa-star" style="padding: 2%; color: #45D2A6"></i>
            </p>
            <p style="text-align: center;">
              You will finish each day with a sense of accomplishment by doing nothing more than working in 25-minute blocks (called pomodoro sessions), followed by 5-minute breaks.
            </p>
            <p style="text-align: center;">
              <i class="far fa-star" style="padding: 2%; color: #45D2A6"></i>
              <i class="far fa-star" style="padding: 2%; color: #45D2A6"></i>
              <i class="far fa-star" style="padding: 2%; color: #45D2A6"></i>
            </p>
            <p style="text-align: center;">
              The pomodoro technique is popular with freelancers wanting to track time, students wishing to study more effectively and anyone looking to improve themselves at work or in their personal projects.

                The pomodoro technique is simple, yet very effective. <br>
                  <a href="{{url_for('main.work_form')}}" style="color: #ffffff;"><button class="btn btn-outline-info" style="text-align: center; background-color: #45D2A6; margin-top: 4vh;">Start Session</button>
                  </a>
              </p>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  {% endblock %}