<div class="navbar" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">POMODORO</a>
      </div>
      <div class="navbar-collapse collapse" style="float: right;">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              
              <li><a href="{{url_for('main.work_form')}}">Add Session</a></li>
              <li><a href="">Logout</a></li>
              
              <li><a href="{{url_for('main.table')}}">Register</a></li>
              <li><a href="">Login</a></li>
              
      </div>

  </div>
</div>